<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>{% block b %}Home{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="icon" href="favicon.png"/>
	<title>Online Exam</title>
	<style> 
        #footer { 
            position: fixed; 
            padding: 10px 10px 0px 10px; 
            bottom: 0; 
            width: 100%;  
            height: 40px; 
            background: rgb(255, 255, 255); 
        }

	</style>
</head>
{% block nav%}
{% endblock %}
<div id=footer>
	<center>
    <p>© 2020 Online Exam System. All rights reserved | Design by Yash Raj Singh and Swastik Raj Singh | Backend by Shaheer Hasan</p>       
	</center>
</div>
