{% extends 'quiz/base.html' %}
{% block title %}Login{% endblock %}
{% block nav %}
<body>
	<center>
	


	<div class="container">
        <div class="form-group cl-md-4">
            {% if messages %}
            <ul class="message">
                {% for message in messages %}
                    <li class="alert alert-danger">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
		<center>
			<div class="container">
			<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div style="margin-top:10px" class="panel panel-primary">
						<div style="text-align:center;font-size:25px;font-family:arial black"class="panel-heading">Welcome To Online Exam System</div>
					</div>
					<div style="margin-top:10px" class="panel panel-info">
						<div style="text-align:center;font-size:25px;font-family:arial black"class="panel-heading">Login</div>
					</div>                    
					<div class="panel-body">
						<form method="post" action="" >
                            {% csrf_token %}
							<div class="form-group">
								<label for="email1">Username:</label>
								<input type="text" name="user" class="form-control" id="email1" required placeholder="Enter Username"/>
							</div>
							<div class="form-group">
								<label for="pwd1">Password:</label>
								<input type="password" name="pass"  class="form-control" id="pwd1" required placeholder="Enter password"/>
							</div>
							<button type="submit" class="btn btn-info">Submit</button>
							<a href="{% url 'home:signup' %}" class="btn btn-info" role="button">Signup</a>
						</form>
                    </div>
					</div>
				</div>
		</div>
	</div>

</body>
{% endblock %}
